/* style.css */


/*
body {
  background-image: url('Speed[SMP].png');
  background-size: cover;
  filter: blur(5px);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
*/

/*Header*/ 
body {
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  
  h1, p {
      color: #fff;
      text-align: center;
      max-width: 500px;
    text-shadow: 4px 4px 4px #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  /* Header */
  header {
      display: flex;
      align-items: center;
      padding: 20px;
      background-color: #ff0000;
    z-index: 1;
  }
  
  img {
      width: 225px;
      height: 150px;
      border-radius: 100%;
      margin-right: 50px;
  }
  
  h1 {
      font-size: 32px;
      margin: 0;
    color: #fff;
    text-shadow: 4px 4px 4px #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  nav {
      margin-left: auto;
  }
  
  nav ul {
      list-style: none;
      display: flex;
  }
  
  nav li {
      margin-left: 10px;
  }
  
  nav li a {
      text-decoration: none;
      color: #ffffff;
  }
  
  section {
      padding: 20px;
  }
  
  h2 {
      font-size: 24px;
      margin-top: 0;
    color: #fff;
    text-shadow: 4px 4px 4px #000000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  div {
      display: flex;
  }
  
  a {
      margin-right: 10px;
  }
  
  /* YouTube Pannels */
  .youtube-panel {
      position: relative;
      width: 200px;
      height: 200px;
      background-color: #f1f1f1;
      border-radius: 5px;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      margin-top: 20px;
      
    }
    
    .youtube-panel:hover {
      box-shadow: 0 0 20px rgb(255, 0, 0);
      transform: scale(1.2);
    }
    
    .youtube-panel img {
      width: 105%;
      height: auto;
    }
    
    .youtube-panel p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 14px;
      text-align: center;
    }
  
    .youtube-panel {
      background-color: #333;
        color: #fff;
  
    }
  
    
    /* Twitch Pannels 
  .twitch-panel {
      position: relative;
      width: 200px;
      height: 200px;
      background-color: #f1f1f1;
      border-radius: 5px;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      margin-top: 20px;
    }
    
    .twitch-panel:hover {
      box-shadow: 0 0 20px rgb(115, 0, 255);
      transform: scale(1.2);
    }
    
    .twitch-panel img {
      width: 105%;
      height: auto;
    }
    
    .twitch-panel p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 14px;
      text-align: center;
    }
  
    .twitch-panel {
      background-color: #333;
        color: #fff;
    }
  
  .kick-panel {
      position: relative;
      width: 200px;
      height: 200px;
      background-color: #f1f1f1;
      border-radius: 5px;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      margin-top: 20px;
    }
    
    .kick-panel:hover {
      box-shadow: 0 0 20px rgb(26, 255, 0);
      transform: scale(1.2);
    }
    
    .kick-panel img {
      width: 105%;
      height: 100%;
    }
    
    .kick-panel p {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-size: 14px;
      text-align: center;
    }
  
    .kick-panel {
      background-color: #333;
        color: #fff;
    }
    */
  
  
  /*hamburger icon*/
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .hamburger-icon span {
    display: block;
    width: 25px;
    height: 5px;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger-icon span:nth-child(1) {
    transform: translateY(0) rotate(0);
  }
  
  .hamburger-icon span:nth-child(2) {
    transform: translateY(7px) rotate(0);
  }
  
  .hamburger-icon span:nth-child(3) {
    transform: translateY(14px) rotate(0);
  }
  
  .hamburger-icon.active span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  
  .hamburger-icon.active span:nth-child(2) {
    transform: rotate(45deg);
  }
  
  .hamburger-icon.active span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
  
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }
  
  .menu.active {
    opacity: 1;
    visibility: visible;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .menu li {
    margin: 20px 0;
    display: block;
  }
  
  .menu li a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    letter-spacing: 2px;
    font-weight: bold;
    display: block;
    padding: 10px;
  }
  
  .menu li a:hover {
    color: #f1f1f1;
    transform: scale(1.2);
  }
  
  /* Background Image */
  
  /* blurred background */
  
  .blurred-background {
    background-image: url('Speed[SMP].png');
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
  }
  
  /*
  header, section {
    position: relative;
    z-index: 1;
  }
  */